/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Garamond', sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  /*font-family: 'Lato', sans-serif;*/
  /*font-family:'Saveur Sans, sans-serif;*/
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

video{
  display: block;
}

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: 'Garamond', sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 20px;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
[class*="icon-"]:before{
  content: '';
  display: block;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
}
.container{
  width: 100%;
  max-width: 1625px;
}
.btn{
 
}
.btn:hover{
  
}

img{
  display: block;
  max-width: 100%;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* fonts */
@font-face {
    font-family:'Saveur Sans';
    src: url('../fonts/Saveur Sans Light.eot');
    src: url('../fonts/Saveur Sans Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Saveur Sans Light.woff2') format('woff2'),
         url('../fonts/Saveur Sans Light.woff') format('woff'),
         url('../fonts/Saveur Sans Light.ttf') format('truetype'),
         url('../fonts/Saveur Sans Light.svg#Saveur Sans Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FD;
}
@font-face {
    font-family:'Saveur Sans';
    src: url('../fonts/Saveur Sans Semi-bold.eot');
    src: url('../fonts/Saveur Sans Semi-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Saveur Sans Semi-bold.woff2') format('woff2'),
         url('../fonts/Saveur Sans Semi-bold.woff') format('woff'),
         url('../fonts/Saveur Sans Semi-bold.ttf') format('truetype'),
         url('../fonts/Saveur Sans Semi-bold.svg#Saveur Sans Semi-bold') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FD;
}
@font-face {
    font-family:'Saveur Sans';
    src: url('../fonts/Saveur Sans Bold.eot');
    src: url('../fonts/Saveur Sans Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Saveur Sans Bold.woff2') format('woff2'),
         url('../fonts/Saveur Sans Bold.woff') format('woff'),
         url('../fonts/Saveur Sans Bold.ttf') format('truetype'),
         url('../fonts/Saveur Sans Bold.svg#Saveur Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FD;
}
@font-face {
    font-family:'Saveur Sans';
    src: url('../fonts/Saveur Sans Regular.eot');
    src: url('../fonts/Saveur Sans Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Saveur Sans Regular.woff2') format('woff2'),
         url('../fonts/Saveur Sans Regular.woff') format('woff'),
         url('../fonts/Saveur Sans Regular.ttf') format('truetype'),
         url('../fonts/Saveur Sans Regular.svg#Saveur Sans Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FD;
}
@font-face {
    font-family:'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metropolis-Medium.woff2') format('woff2'),
         url('../fonts/Metropolis-Medium.woff') format('woff'),
         url('../fonts/Metropolis-Medium.ttf') format('truetype'),
         url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Metropolis';
    src: url('../fonts/Metropolis-ExtraBold.eot');
    src: url('../fonts/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'),
         url('../fonts/Metropolis-ExtraBold.woff') format('woff'),
         url('../fonts/Metropolis-ExtraBold.ttf') format('truetype'),
         url('../fonts/Metropolis-ExtraBold.svg#Metropolis-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'Metropolis';
    src: url('../fonts/Metropolis-Regular.eot');
    src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metropolis-Regular.woff2') format('woff2'),
         url('../fonts/Metropolis-Regular.woff') format('woff'),
         url('../fonts/Metropolis-Regular.ttf') format('truetype'),
         url('../fonts/Metropolis-Regular.svg#Metropolis-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  order: 1;
  -webkit-order: 1; 
}
.header-top{
  background-image: url('../img/header-top-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9px 0px;
}
.header-top-text{
  font-family:'Metropolis', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.header-top-text a{
  font-weight: 800;
  color: #fff;
}
.header-top-text a:hover{
  text-decoration: underline;
}
.header-bottom{
  background-color: #fffef0;
  padding: 13px 0px;
}
.logo-box{
  width: 137px;
  float: left;
  position: relative;
  padding-top: 3px;
}
.logo-link{
  display: block;
}
.header-menu{
  float: left;
  width: 100%;
  margin-left: -137px;
  padding-left: 187px;
}
.header-menu-left{
  float: left;
}
.header-menu-item{
  float: left;
  margin-right: 40px;
  padding-top: 6px;
}
.header-menu-item:last-child{
  margin-right: 0px;
}
.header-menu-item a{
  display: block;
  font-size: 14px;
  color: #010101;
  text-transform: uppercase;
  font-family:'Metropolis', sans-serif;
}
.header-menu-item a:hover{
  text-decoration: underline;
}
.header-menu-item.active a{
  color: #86a937;
}
.header-menu-right{
  float: right;
}
.search-box{
  float: left;
}
.search-input{
  float: left;
  font-size: 14px;
  color: #010101;
  border: 0px;
  text-transform: uppercase;
  width: 70px;
  height: 24px;
  padding: 0px;
  font-family:'Metropolis', sans-serif;
  background-color: transparent;
}
.search-input::-webkit-input-placeholder { color: #010101; }
.search-input::-moz-placeholder          { color: #010101; }
.search-input:-moz-placeholder           { color: #010101; }
.search-input:-ms-input-placeholder      { color: #010101; }
.search-btn{
  float: left;
  display: block;
  width: 25px;
  height: 24px;
  margin-left: 3px;
  background-image: url('../img/sprite.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.search-btn:hover{
  opacity: 0.7;
}
.cart-box{
  float: left;
  margin-left: 20px;
}
.cart-link{
  display: block;
  width: 22px;
  height: 22px;
  background-image: url('../img/sprite.png');
  background-position: -32px 0px;
  background-repeat: no-repeat;
  position: relative;
  top: 1px;
}
.cart-link:hover{
  opacity: 0.7;
}
.shr-box{
  float: left;
  margin-left: 17px;
  position: relative;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
}
.shr-box.active{
  background-color: #fff;
}
.shr-icon{
  width: 17px;
  height: 21px;
  display: block;
  background-image: url('../img/sprite.png');
  background-position: -64px 0px;
  background-repeat: no-repeat;
}
.shr-icon:hover{
  opacity: 0.7;
}
.dropdown-block{
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1;
}
.shr-dropdown{
  right: 0px;
  white-space: nowrap;
  padding: 4px 10px;
  padding-bottom: 1px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
}
.shr-dropdown-item{
  display: inline-block;
  margin: 0px 4px;
  margin-right: 2px;
}
.shr-dropdown-link{
  display: block;
  width: 24px;
  height: 23px;
  background-image: url('../img/sprite.png');
  background-position: 0px -48px;
  background-repeat: no-repeat;
}
.shr-dropdown-link:hover{
  opacity: 0.7;
}
.shr-dropdown-link.gg{
  background-position: -37px -48px;
}
.shr-dropdown-link.yt{
  background-position: -72px -48px;
}
.shr-dropdown-link.fb{
  background-position: -107px -48px;
}
.shr-dropdown-link.inst{
  background-position: -140px -48px;
}
.entry-box{
  float: left;
  margin-left: 17px;
}
.entry-login{
  display: block;
  width: 23px;
  height: 21px;
  background-image: url('../img/sprite.png');
  background-position: -88px 0px;
  background-repeat: no-repeat;
  position: relative;
  top: 2px; 
}
.entry-login:hover{
  opacity: 0.7;
}
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  text-align: left;
  width: 100%;
  min-width: 320px;
  order: 3;
  -webkit-order: 3; 
  background-image: url('../img/footer-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 20px;
}
.footer-col{
  width: 33.3333%;
  float: left;
}
.footer-col_right{
  float: right;
}
.footer-menu{
  margin-bottom: 15px;
}
.footer-menu-item{
  float: left;
  margin-right: 30px;
}
.footer-menu-item:last-child{
  margin-right: 0px;
}
.footer-menu-item a{
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #282828;
  text-decoration: underline;
  font-family: 'Lato', sans-serif;
}
.footer-menu-item a:hover{
  text-decoration: none;
}
.scl-list-item{
  float: left;
  margin-right: 13px;
}
.scl-list-item:last-child{
  margin-right: 0px;
}
.scl-list-link{
  display: block;
  height: 23px;
  width: 24px;
  background-image: url('../img/sprite.png');
  background-position: 0px -48px;
  background-repeat: no-repeat;
}
.scl-list-link:hover{
  opacity: 0.7;
}
.scl-list-link.gg{
  background-position: -37px -48px;
}
.scl-list-link.yt{
  background-position: -72px -48px;
}
.scl-list-link.fb{
  background-position: -107px -48px;
}
.scl-list-link.inst{
  background-position: -140px -48px;
}
.footer-logo{
  text-align: center;
  padding-top: 3px;
  margin-bottom: 5px;
}
.footer-logo-link{
  display: inline-block;
}
.copy{
  font-size: 12px;
  color: #272727;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
.sbscrb-title{
  text-align: right;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #282828;
  margin-bottom: 5px;
}
.sbscrb-field{
  float: right;
  width: 295px;
}
.sbscrb-input{
  width: 215px;
  border: 1px solid #759562;
  height: 29px;
  padding: 0px 8px;
  font-size: 16px;
  line-height: 27px;
  color: #527b3b;
  font-family: 'Lato', sans-serif;
  float: left;
}
.sbscrb-input::-webkit-input-placeholder { color: #527b3b; }
.sbscrb-input::-moz-placeholder          { color: #527b3b; }
.sbscrb-input:-moz-placeholder           { color: #527b3b; }
.sbscrb-input:-ms-input-placeholder      { color: #527b3b; }
.sbscrb-btn{
  width: 80px;
  height: 29px;
  border: 1px solid #759562;
  font-family: 'Lato', sans-serif;
  color: #527b3b;
  float: left;
  background-color: #fff;
  font-size: 16px;
}
.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 20px;
  line-height: 24px;
  color: #414042;
}

h1 {
  font-size: 36px;
  color: #000;
  font-weight: 400; }

h2 {
  font-size: 32px;
  color: #000;
  font-weight: 400; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.products{
  padding-top: 10px;
  position: relative;
}
.products:before{
  content: '';
  display: block;
  width: 180px;
  height: 735px;
  background-image: url('../img/left-top-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 0px;
}
.products:after{
  content: '';
  display: block;
  width: 180px;
  height: 735px;
  background-image: url('../img/right-bottom-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 0px;
}
.products-list-wrapper{
  overflow: hidden;
}
.products-list{
  margin-left: -26px;
}
.products-list__item{
  width: 25%;
  float: left;
  padding-left: 28px;
}
.products-list__item-top{
  display: block;
  position: relative;
  padding-bottom: 80px;
}
.products-list__item-inf{
  border: 1px solid #c6c6c6;
  padding: 10px;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
.products-list__item-inf-wrapper{
  height: 237px;
  background-image: url('../img/product-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.products-list__item-name{
  font-size: 24px;
  line-height: 28px;
  position: relative;
  text-align: center;
  font-style: italic;
  color: #414042;
  padding-top: 10px;
  padding-bottom: 20px;
}
.products-list__item-name:before{
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  background-color: #527b3b;
  opacity: 0.35;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -7px;
}
.products-list__item-price{
  margin-top: 15px;
  font-size: 20px;
  color: #767676;
  font-style: italic;
  text-align: center;
}
.products-list__item-price span{
  font-size: 12px;
  position: relative;
  top: -7px;
}
.products-list__item-image{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 15px;
}
.products-list__item-image img{
  margin: 0 auto;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
.btn{
  display: block;
  height: 45px;
  width: 148px;
  border: 1px solid #c6c6c6;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: #414042;
  line-height: 43px;
  margin: 0 auto;
}
.btn:hover{
  opacity: 0.7;
}
.products-list__item-top:hover .products-list__item-image img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.products-list__item-top:hover .products-list__item-inf{
  opacity: 0.7;
}
.products-all{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #daedbe;
}
.products-all a{
  font-size: 20px;
  color: #414042;
  border-bottom: 1px solid #414042;
  font-style: italic;
  letter-spacing: 0.6px;

}
.products-all a:hover{
  border-bottom: 1px solid transparent;
}
.slick-arrow{
  position: absolute;
  left: -15px;
  top: 50%;
  width: 20px;
  height: 32px;
  text-indent: -9999px;
  background-color: transparent;
  border: 0px;
  background-image: url('../img/sprite.png');
  background-position: -120px 0px;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
.slick-arrow:hover{
  opacity: 0.8;
}
.slick-next.slick-arrow{
  left: auto;
  right: -15px;
  background-position: -144px 0px;
}
.about{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 12px;
}
.about-wrapper{
  padding-bottom: 25px;
}
.about-aside{
  display: inline-block;
  margin-right: -4px;
  width: 16.6666%;
  vertical-align: top;
  padding-top: 25px;
}
.about-aside__item{
  font-size: 20px;
  color: #414042;
  font-style: italic;
  position: relative;
  padding-bottom: 27px;
  margin-top: 22px;
}
.about-aside__item:before{
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  background-color: #527b3b;
  opacity: 0.35;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -7px;
}
.about-aside__item:first-child{
  margin-top: 0px;
}
.about-aside__item:last-child{
  padding-bottom: 0px;
}
.about-aside__item:last-child:before{
  display: none;
}
.about-center{
  display: inline-block;
  margin-right: -4px;
  width: 50%;
  vertical-align: top;
}
.about-center-image img{
  margin: 0 auto;
}
.about-center-text{
  font-style: italic;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}
.about-center-link{
  font-size: 16px;
  color: #414042;
  opacity: 0.5;
  font-style: italic;
  letter-spacing: 0.8px;
  border-bottom: 1px solid #acabac;
}
.about-center-link:hover{
  border-bottom: 1px solid transparent;
}
.gift{
  padding-bottom: 75px;
}
.gift-inf{
  border-top: 2px solid #daedbe;
  padding-top: 20px;
}
.gift-inf-wrapper{
  position: relative;
  display: inline-block;
  width: 100%;
}
.gift-inf-image{
  width: 50%;
  top: 0px;
  left: 0px;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.gift-inf-wrapper:before{
  content: '';
  display: block;
  width: 300px;
  height: 140px;
  background-image: url('../img/gift-left-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  left: 50px;
}
.gift-inf-wrapper:after{
  content: '';
  display: block;
  width: 355px;
  height: 140px;
  background-image: url('../img/gift-right-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  right: 0px;
}
.gift-content{
  width: 50%;
  float: right;
  background-image: url('../img/gift-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13px;
}
.gift-content-wrapper{
  border: 1px solid #527b3b;
  padding: 20px 70px;
}
.gift-content-top{
  display: inline-block;
  width: 100%;
}
.gift-content-top__title{
  font-size: 40px;
  color: #527b3b;
  text-transform: uppercase;
  font-family:'Saveur Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.6px;
  float: left;
}
.gift-content-top__price{
  float: left;
  height: 31px;
  line-height: 31px;
  width: 140px;
  text-align: center;
  margin-top: 3px;
  margin-left: 30px;
  position: relative;
  background-color: #87aa37;
  font-size: 20px;
  color: #fff;
  font-style: italic;
}
.gift-content-top__price:before{
  content: '';
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: -12px;
  background-image: url('../img/sprite.png');
  background-position: -337px 0px;
  background-repeat: no-repeat;
}
.gift-content-top__price span{
  font-size: 12px;
  text-decoration: underline;
  position: relative;
  top: -6px;
  left: 1px;
  letter-spacing: 0.6px;
}
.gift-content-text{
  margin-top: 12px;
  font-size: 18px;
  line-height: 21px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.gift-content-text span{
  display: block;
  margin-top: 10px;
}
.gift-content-list{
  padding-bottom: 10px;
}
.gift-content-list__item{
  margin-bottom: 12px;
  font-size: 20px;
  letter-spacing: 0.6px;
  color: #414042;
  font-style: italic;
}
.gift-content-list__item:last-child{
  margin-bottom: 0px;
}
.gift-content-list__item > span{
  font-style: normal;
  font-family:'Saveur Sans', sans-serif;
  font-weight: 300;
}
.gift-content-list__item > span > span{
  font-weight: 500;
}
.gift-btns{
  text-align: center;
  padding-top: 35px;
}
.gift-btns .btn{
  display: inline-block;
  margin: 0px 16px;
  color: #527b3b;
  border: 1px solid #527b3b;
}
.about-us{
  padding-bottom: 25px;
}
.about-us-wrapper{
  padding-top: 25px;
  border-top: 2px solid #daedbe;
}
.about-us-content{
  position: relative;
  overflow: hidden;
}
.about-us-inf{
  width: calc(50% - 15px);
  float: left;
  background-image: url('../img/about-us-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 65px;
}
.about-us-title{
  font-size: 63px;
  color: #a7a7a7;
  font-style: italic;
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid #b0b0b0;
}
.about-us-title h1{
  font-size: 43px;
  color: #767676;
  font-family:'Saveur Sans', sans-serif;
  font-style: normal;
  display: block;
  position: relative;
  margin-top: -14px;
  padding-left: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1;
}
.about-us-title h1 span.tm{
  font-size: 28px;
  position: relative;
  top: -10px;
}
.about-us-text{
  font-size: 26px;
  color: #767676;
  font-style: italic;
  line-height: 31px;
  padding-top: 17px;
}
.about-us-inf .btn{
  margin-left: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: #4f4f4f;
  border: 1px solid #789731;
  margin-top: 15px;
}
.about-us-images{
  position: absolute;
  width: calc(50% - 15px);
  top: 0px;
  right: 0px;
  height: 100%;
}
.about-us-image{
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(50% - 15px);
  height: calc(50% - 15px);
  overflow: hidden;
}
.about-us-image_top-right{
  top: 0px;
  left: auto;
  right: 0px;
}
.about-us-image_bottom-left{
  top: auto;
  bottom: 0px;
}
.about-us-image_bottom-right{
  top: auto;
  bottom: 0px;
  left: auto;
  right: 0px;
}
.ingredients{
  padding-bottom: 70px;
  position: relative;
}
.ingredients:before{
  content: '';
  display: block;
  width: 180px;
  height: 735px;
  background-image: url('../img/left-bottom-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  left: 0px;
}
.ingredients:after{
  content: '';
  display: block;
  width: 180px;
  height: 735px;
  background-image: url('../img/right-bottom-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  right: 0px;
}
.ingredients-wrapper{
  padding-top: 40px;
  border-top: 2px solid #daedbe;
  text-align: center;
}
.ingredients-title{
  font-size: 24px;
  color: #767676;
  text-align: center;
  display: inline-block;
  padding: 0px 40px;
  padding-bottom: 15px;
  border-bottom: 4px solid #b0b0b0;
}
.ingredients-subtitle{
  font-size: 24px;
  font-family:'Saveur Sans', sans-serif;
  color: #767676;
  padding-top: 18px;
  margin-bottom: 5px;
}
.ingredient-image{
  height: 75px;
}
.ingredient-image img{
  margin: 0 auto;
}
.ingredient-name{
  font-size: 20px;
  color: #6f6f6f;
  font-family:'Saveur Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 6px;
}
.ingredient-use{
  font-size: 16px;
  color: #2db34b;
  font-family:'Saveur Sans', sans-serif;
  margin-bottom: 6px;
}
.ingredient-links a{
  color: #6f6f6f;
  font-size: 14px;
}
.ingredient-links span{
  margin-left: 6px;
  margin-right: 3px;
}
.ingredient-links a:hover{
  text-decoration: underline;
}
.ingredients-list{
  overflow: hidden;
  padding-top: 30px;
}
.ingredients-list .ingredient{
  width: 16.66666%;
  float: left;
}
.ingredient-text{
  line-height: 23px;
  font-size: 14px;
}
.agriculture{
  padding-bottom: 35px;
}
.agriculture h2{
  text-align: center;
  font-size: 24px;
  color: #767676;
  margin-bottom: 15px;
}
.agriculture-image{
  border: 1px solid #c6c6c6;
  padding: 10px;
}
.agriculture-image-wrapper{
  height: 157px;
  background-image: url('../img/agriculture-bg.png');
}
.agriculture-list{
  overflow: hidden;
  padding-top: 5px;
}
.agriculture-list__item{
  width: 33.3333%;
  float: left;
  padding: 0px 20px;
  text-align: center;
}
.agriculture-list__item-name{
  height: 95px;
  font-size: 24px;
  color: #767676;
  font-family:'Saveur Sans', sans-serif;
  padding-top: 30px;
  margin-bottom: 15px;
}
.agriculture-list__item-text{
  font-size: 20px;
  color: #414042;
  line-height: 23px;
  font-style: italic;
  letter-spacing: 0.6px;
}
.agriculture-list__item-name_image{
  padding-top: 0px;
}
.agriculture-list__item-name_image img{
  margin: 0 auto;
}
.agriculture-all{
  text-align: center;
  padding-top: 15px;
}
.agriculture-all a{
  display: inline-block;
  font-size: 16px;
  color: #767676;
  font-style: italic;
  border-bottom: 1px solid #767676;
  letter-spacing: 0.6px;
}
.agriculture-all a:hover{
  border-bottom: 1px solid transparent;
}
.faq{
  background-color: #f5f5f5;
  padding: 40px 0px;
}
.faq h2{
  font-size: 31px;
  color: #767676;
  font-family:'Saveur Sans', sans-serif;
  text-align: center;
  font-weight: 300;
}
.faq-title{
  margin-top: 25px;
  font-size: 20px;
  font-style: italic;
  color: #525252;
  text-align: center;
  margin-bottom: 10px;
}
.faq-text{
  text-align: center;
  color: #010101;
  font-size: 17px;
  padding: 0px 120px;
  line-height: 22px;
}
.faq-list{
  padding-top: 20px;
  margin-bottom: 10px;
}
.faq-list__item{
  display: block;
  text-align: center;
  padding: 10px 0px;
  border-top: 2px solid #dfdfdf;
}
.faq-list__item-title{
  font-size: 20px;
  color: #525252;
  font-style: italic;
}
.faq-list__item-text{
  font-size: 18px;
  line-height: 22px;
  color: #292323;
  display: none;
  padding: 15px 0px;
}
.faq .btn{
  border: 1px solid  #b3c883;
}


/* fancybox (modal windows) */
.popup{
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
}
.fancybox-overlay{
  background: rgba(0,0,0,0.8);
}
.fancybox-skin{
  background-color: #fff;
}
.fancybox-wrap{
  width: 1400px!important;
  max-width: 90%; 
}
.fancybox-close{
  width: 30px!important;
  height: 30px!important;
  top: -29px!important;
  right: -29px!important;
}
.fancybox-close:before,
.fancybox-close:after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 14px;
  left: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  background-color: #fff;
}
.fancybox-close:after{
  left: auto;
  right: 0px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.fancybox-outer{
  padding-bottom: 10px;
}
.fancybox-inner{
  width: 100%!important;
}
.window-open{
  padding: 15px 0px;
}

.menu-btn{
  display: none;
}

/* product page */
.products_inner .wrapper{
  max-width: 950px;
}
.products-aside{
  float: left;
  width: 190px;
  padding-right: 30px;
  position: relative;
  padding-top: 35px;
}
.products-aside-title{
  font-size: 20px;
  color: #414042;
  font-family:'Saveur Sans', sans-serif;
  letter-spacing: 0.6px;
  margin-bottom: 17px;
}
.products-aside-list__item{
  margin-bottom: 18px;
}
.products-aside-list__item:last-child{
  margin-bottom: 0px;
}
.products-aside-list__item a{
  font-size: 16px;
  color: #414042;
  font-style: italic;
  letter-spacing: 0.6px;
}
.products-aside-list__item a:hover{
  margin-left: 5px;
  text-decoration: underline;
}
.products-content{
  width: 100%;
  margin-left: -190px;
  float: left;
  padding-left: 190px;
  padding-top: 35px;
}
.products-nav{
  display: inline-block;
  width: 100%;
  padding-bottom: 16px;
}
.products-nav-sort{
  float: left;
}
.products-nav-sort-title{
  font-size: 16px;
  color: #527b3b;
  font-style: italic;
  margin-right: 7px;
  line-height: 28px;
  float: left;
  letter-spacing: 0.6px;
}
.sort-box{
  float: left;
  position: relative;
}
.sort-box-current{
  display: block;
  height: 28px;
  padding: 0px 15px;
  border: 1px solid #527b3b;
  color: #527b3b;
}
.sort-box-current span{
  position: relative;
  padding-right: 22px;
  font-size: 16px;
  color: #527b3b;
  font-style: italic;
  letter-spacing: 0.6px;
  line-height: 26px;
}
.sort-box-current span:before{
  content: '';
  display: block;
  width: 10px;
  height: 6px;
  background-image: url('../img/sprite.png');
  background-position: 0px -32px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 0px;
}
.sort-box-dropdown{
  border: 1px solid #527b3b;
  border-top: 0px;
  background-color: #fff;
  width: 100%;
}
.sort-box-dropdown-link{
  display: block;
  text-align: center;
  font-size: 16px;
  color: #527b3b;
  font-style: italic;
  letter-spacing: 0.6px;
  padding: 5px 0px;
}
.sort-box-dropdown-link:hover{
  background-color: #527b3b;
  color: #fff;
}
.products-nav-search{
  float: right;
}
.products-search-box{
  position: relative;
}
.products-search-input{
  height: 28px;
  border: 1px solid #527b3b;
  padding: 0px 20px;
  padding-right: 25px;
  font-size: 16px;
  color: #527b3b;
  letter-spacing: 0.6px;
  width: 160px;
  font-style: italic;
}
.products-search-input::-webkit-input-placeholder { color: #527b3b; }
.products-search-input::-moz-placeholder          { color: #527b3b; }
.products-search-input:-moz-placeholder           { color: #527b3b; }
.products-search-input:-ms-input-placeholder      { color: #527b3b; }
.products-search-btn{
  position: absolute;
  display: block;
  width: 22px;
  height: 17px;
  top: 50%;
  margin-top: -8px;
  right: 3px;
  background-image: url('../img/sprite.png');
  background-position: -256px -1px;
  background-repeat: no-repeat;
}
.list-products{
  margin-left: -35px;
}
.list-products__item{
  width: 33.3333%;
  float: left;
  padding-left: 35px;
}
.list-products__item-top{
  height: 220px;
  border: 1px solid #527b3b;
  position: relative;
}
.list-products__item-wrapper{
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.list-products__item-cell{
  display: table-cell;
  vertical-align: middle;
}
.list-products__item-image img{
  margin: 0 auto;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
.list-products__item-wrapper:hover .list-products__item-image img{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
}
.list-products__item-favorite{
  height: 23px;
  width: 24px;
  display: block;
  position: absolute;
  right: 35px;
  bottom: 6px;
}
.list-products__item-favorite:before{
  content: '';
  display: block;
  width: 14px;
  height: 13px;
  background-image: url('../img/sprite.png');
  background-position: -168px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -6px;
}
.list-products__item-favorite.active{
  background-color: #527b3b;
}
.list-products__item-favorite.active:before{
  background-position: -187px 0px;
}
.list-products__item .shr-box{
  position: absolute;
  bottom: 6px;
  width: 24px;
  height: 23px;
  right: 10px;
  padding-top: 3px;
}
.list-products__item .shr-icon{
    width: 14px;
    height: 17px;
    background-position: -208px 0px;
}
.list-products__item .shr-box.active {
  background-color: #527b3b;
}
.list-products__item .shr-box.active .shr-icon{
  background-position: -232px 0px;
}
.list-products__item-name{
  font-size: 14px;
  color: #414042;
  text-align: center;
  display: block;
  line-height: 16px;
  height: 33px;
  overflow: hidden;
  margin-top: 15px;
  letter-spacing: 0.6px;
  font-family:'Saveur Sans', sans-serif;
}
.list-products__item-price{
  text-align: center;
  font-size: 16px;
  color: #414042;
  font-style: italic;
  margin: 10px 0px;
}
.list-products__item-btn{
  width: 160px;
  height: 28px;
  line-height: 26px;
  font-size: 16px;
  color: #414042;
  border-color: #527b3b;
}
.list-products__item{
  margin-bottom: 25px;
}
.slick-dots{
  position: absolute;
  bottom: 6px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.slick-dots li{
  display: inline-block;
  margin: 0px 6px;
  margin-right: 4px;
}
.slick-dots li button{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #698c53;
  text-indent: -9999px;
  border: 0px;
  padding: 0px;
}
.slick-dots li.slick-active button{
  background-color: #282828;
}
.products-slider{
  padding-bottom: 55px;
}
.products-slider .slick-arrow{
  top: auto;
  bottom: 0px;
  left: 50%;
  margin-left: -100px;
}
.products-slider .slick-arrow.slick-next{
  left: auto;
  right: 50%;
  margin-left: 0px;
  margin-right: -100px;
}
.products_inner{
  padding-bottom: 35px;
}

/* media */
@media only screen and (max-width: 1500px){
  .products:before{
    width: 100px;
    background-position: 100% 0px;
  }
  .products:after{
    width: 100px;
  }
  .ingredients:before{
    width: 100px;
    background-position: 100% 0px;
  }
  .ingredients:after{
    width: 100px;
  }
}
@media only screen and (max-width: 1500px){
  .products:before,
  .products:after{
    width: 80px;
  }
  .ingredients:before,
  .ingredients:after{
    width: 80px;
  }
}
@media only screen and (max-width: 1279px){
  .products:before,
  .products:after{
    width: 70px;
  }
  .ingredients:before,
  .ingredients:after{
    width: 70px;
  }
  .wrapper{
    padding: 0px 40px;
  }
  .products-list{
    margin-left: -28px;
  }
  .products .wrapper{
    padding: 0px 70px;  
  }
  .slick-arrow{
    left: 35px;
  }
  .slick-next.slick-arrow{
    left: auto;
    right: 35px;
  }
  .gift-content-wrapper{
    padding: 20px 40px;
    padding-top: 10px;
  }
  .gift-content-top__title{
    font-size: 24px;
  }
  .gift-content-top__price{
    font-size: 14px;
    letter-spacing: 0.6px;
    height: 22px;
    line-height: 22px;
    margin-top: 1px;
  }
  .gift-content-top__price span{
    font-size: 10px;
    top: -4px;
  }
  .gift-content-text{
    font-size: 13px;
  }
  .gift-content-list__item{
    font-size: 15px;
  }
  .btn{
    font-size: 16px;
    height: 38px;
    line-height: 36px;
    width: 123px;
  }
  .about-us-inf{
    padding: 20px 40px;
    padding-bottom: 30px;
    width: calc(50% - 7px)
  }
  .about-us-text{
    font-size: 16px;
    line-height: 19px;
  }
  .about-us-inf .btn{
    width: 93px;
    font-size: 11px;
    height: 25px;
    line-height: 23px;
  }
  .about-us-title{
    font-size: 38px;
  }
  .about-us-title h1{
    font-size: 26px;
    margin-top: -8px;
  }
  .about-us-title h1 span.tm{
    font-size: 17px;
    top: -7px;
  }
  .about-us-images{
    width: calc(50% - 7px);
  }
  .about-us-image{
    width: calc(50% - 7px);
    height: calc(50% - 7px);
  }
  .footer-menu-item{
    margin-right: 15px;
  }
}
@media only screen and (max-width: 991px){
  .list-products__item{
    width: 50%;
  }
  .products_inner .slick-list{
    overflow: hidden;
  }
  .gift-inf-wrapper:before{
    left: 0px;
  }
  .gift-inf-wrapper:before,
  .gift-inf-wrapper:after{
    width: 25%;
    background-size: 100% auto;
  }
  .header-top-text{
    font-size: 14px;
  }
  .header-top-text a{
    font-size: 14px;
  }
  .logo-box{
    display: block;
    float: none;
    margin: 0 auto;
  }
  .menu-btn{
    display: block;
    width: 30px;
    height: 22px;
    margin-top: -21px;
    position: relative;
  }
  .menu-btn span{
    width: 100%;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    background-color: #353535;
    border-radius: 2px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
  }
  .menu-btn span:last-child{
    margin-bottom: 0px;
  }
  .menu-btn.active span{
    position: absolute;
    top: 7px;
    left: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  .menu-btn.active span:nth-child(2){
    display: none;
  }
  .menu-btn.active span:last-child{
    left: auto;
    right: 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  .header-menu{
    float: right;
    width: auto;
  }
  .header-menu-wrapper{
    display: none;
    margin-top: 5px;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 3px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 3px 7px 0px rgba(50, 50, 50, 0.5);
  }
  .products-list{
    margin-left: -29px;
  }
  .about-aside__item{
    font-size: 17px;
  }
  .about-center-text{
    line-height: 20px;
    font-size: 17px;
    margin-bottom: 5px;
  }
  .about-center-image img{
    width: 256px;
  }
  .gift-content-text{
    line-height: 13px;
  }
  .gift-content-list__item{
    font-size: 13px;
    margin-bottom: 5px;
  }
  .gift-content-text span{
    margin-top: 5px;
  }
  .gift-content-list{
    padding-bottom: 0px;
  }
  .gift-content-top__price{
    width: 100px;
  }
  .gift-content{
    padding: 6px;
  }
  .gift-btns .btn{
    width: 90px;
    height: 28px;
    line-height: 26px;
    margin: 0px 7px;
  }
  .ingredients{
    padding-bottom: 50px;
  }
  .ingredient-links a{
    font-size: 16px;
  }
  .ingredient-text{
    font-size: 16px;
  }
  .ingredients-list{
    text-align: center;
  }
  .ingredients-list .ingredient{
    width: 33.3333%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    margin-bottom: 15px;
  }
  .agriculture-list{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  .agriculture-list__item{
    width: 50%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    padding: 0px 30px;
  }
  .agriculture-list__item:first-child{
    order: 2;
    -webkit-order: 2;
  }
  .agriculture-list__item:last-child{
    order: 3;
    -webkit-order: 3;
  }
  .agriculture-list__item:nth-child(2){
    order: 1;
    -webkit-order: 1;
    width: 60%;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    margin: 0 auto;
  }
  .faq-text{
    padding: 0px 10px;
  }
  .footer-col{
    width: 50%;
  }
  .footer-col_logo{
    width: 100%;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 767px){
  .gift-inf-wrapper:before,
  .gift-inf-wrapper:after{
    display: none;
  }
  .products:before,
  .products:after{
    display: none;
  }
  .ingredients:before,
  .ingredients:after{
    display: none;
  }
  .wrapper{
    padding: 0px 15px;
  }
  .header-top .wrapper{
    padding: 0px 5px;
  }
  .header-top-text{
    font-size: 13px;
  }
  .header-top-text a{
    font-size: 13px;
  }
  .header-menu-wrapper{
    padding: 10px 15px;
  }
  .header-menu-left{
    float: none;
    padding-bottom: 10px;
  }
  .header-menu-item{
    float: none;
    text-align: center;
    margin-right: 0px;
    padding: 6px 0px;
  }
  .header-menu-right{
    float: none;
    width: 230px;
    margin: 0 auto;
  }
  .products .wrapper{
    padding: 0px 15px;
  }
  .slick-arrow{
    left: 40px;
    top: 63%;
  }
  .slick-next.slick-arrow{
    left: auto;
    right: 40px;
  }
  .products-list{
    margin-left: -28px;
  }
  .products-list-wrapper{
    padding: 0px 50px;
    overflow: visible;
  }
  .slick-list{
    overflow: visible;
  }
  .products-all{
    border-bottom: 0px;
  }
  .products{
    border-bottom: 2px solid #daedbe;
  }
  .products-all a{
    font-size: 15px;
  }
  .about{
    padding-top: 10px;
  }
  .about-wrapper{
    padding-top: 240px;
    position: relative;
    width: 290px;
    margin: 0 auto;
  }
  .about-center{
    width: 100%;
  }
  .about-wrapper .about-center{
    width: 260px;
    top: 10px;
    left: 50%;
    margin-left: -130px;
    position: absolute;
  }
  .about-aside{
    display: inline;
    width: auto;
    padding-left: 15px;
  }
  .about-aside__item{
    display: inline;
    padding-bottom: 0px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  .about-aside__item:before{
    width: 1px; 
    height: 14px;
    background-color: #706f71;
    top: 6px;
    opacity: 1;
    left: -17px;
    margin-left: 0px;
  }
  .about-aside__item:first-child:before{
    display: none;
  }
  .about-aside__item:last-child:before{
    display: block;
  }
  .about-aside__item:nth-child(3):before{
    display: none;
  }
  .gift .wrapper{
    padding: 0px;
  }
  .gift-inf-image{
    position: static;
    width: 100%;
  }
  .gift-inf-image img{
    margin: 0 auto;
  }
  .gift-content{
    float: none;
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 10px;
  }
  .gift-content-wrapper{
    padding: 20px 15px;
  }
  .gift-content-text{
    font-size: 15px;
  }
  .gift-content-list__item{
    font-size: 15px;
  }
  .gift-btns{
    padding-top: 15px;
  }
  .gift-btns .btn{
    width: 126px;
    height: 39px;
    line-height: 37px;
    margin: 0px 15px;
  }
  .gift{
    padding-bottom: 15px;
  }
  .about-us-wrapper{
    border-top: 0px;
  }
  .about-us-images{
    position: static;
  }
  .about-us-image{
    width: 150px;
    height: auto;
  }
  .about-us-content{
    padding-top: 165px;
    padding-bottom: 165px;
    position: relative;
  }
  .about-us .wrapper{
    padding: 0px;
  }
  .about-us-inf{
    width: 100%;
    float: none;
  }
  .ingredient-links a{
    font-size: 13px;
  }
  .ingredient-links span{
    margin-left: 4px;
    margin-right: 1px;
  }
  .ingredients-list .ingredient{
    width: 50%;
  }
  .ingredient-text{
    font-size: 14px;
  }
  .ingredients-wrapper{
    border-top: 0px;
    padding-top: 10px;
  }
  .ingredients-title{
    font-size: 18px;
  }
  .agriculture .wrapper{
    padding: 0px;
  }
  .agriculture-image{
    border: 0px;
    padding: 0px;
  }
  .agriculture-list__item:nth-child(2){
    width: 100%;
  }
  .agriculture-list__item-text{
    font-size: 18px;
  }
  .agriculture-list__item-name{
    font-size: 22px;
  }
  .agriculture-list__item{
    width: 100%;
  }
  .agriculture-list__item-name{
    height: auto;
  }
  .agriculture-list{
    padding-top: 20px;
  }
  .faq h2{
    font-size: 25px;
  }
  .faq-text{
    font-size: 14px;
    line-height: 18px;
  }
  .faq-list__item-title{
    font-size: 16px;
  }
  .faq-list__item-text{
    font-size: 15px;
    line-height: 19px;
  }
  footer{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .wrapper{
    padding-top: 50px;
  }
  .footer-logo{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
  }
  .footer-col{
    width: 100%;
  }
  .footer-menu{
    text-align: center;
  }
  .footer-menu-item{
    margin: 0px 5px;
    display: inline-block;
    float: none;
  }
  .footer-menu-item a{
    font-size: 13px;
  }
  .footer-menu-item:last-child{
    margin-right: 5px;
  }
  .scl-list{
    text-align: center;
  }
  .scl-list-item{
    float: none;
    display: inline-block;
    margin: 0px 8px;
  }
  .scl-list-item:last-child{
    margin-right: 8px;
  }
  .sbscrb-title{
    text-align: center;
  }
  .sbscrb-field{
    width: 290px;
    margin: 0 auto;
    float: none;
  }
  .sbscrb-input{
    width: 210px;
  }
  .sbscrb-box{
    padding-top: 15px;
  }
}
@media only screen and (max-width: 639px){
  .products-aside{
    width: 100%;
    float: none;
  }
  .products-content{
    padding-left: 0px;
    margin-left: 0px;
    float: none;
  }
  .products-aside-title{
    text-align: center;
  }
  .products-aside-list{
    text-align: center;
  }
  .products-aside-list__item{
    display: inline-block;
    margin: 0px 5px;
  }
  .products-content{
    padding-top: 15px;
  }
}
@media only screen and (max-width: 450px){
  .list-products{
    margin-left: 0px;
  }
  .list-products__item{
    padding-left: 0px;
    width: 100%;
  }
  .products-nav-sort-title{
    float: none;
    width: 100%;
  }
  .products-nav-sort{
    float: none;
    margin-bottom: 15px;
  }
  .products-nav-search{
    float: none;
  }
  .products-search-input{
    width: 100%;
  }
  .sort-box{
    float: none;
  }
  .sort-box-current{
    text-align: center;
  }
  .products-aside-list__item a{
    font-size: 18px;
  }
  .products-aside-list__item{
    margin-bottom: 10px;
  }
}